<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="36742ProgParty.WieBetaaltWat" Publisher="CN=285D7FE7-AC12-4DC2-8B8B-564986501DC7" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="72eccf35-a4d7-4a4c-bac6-a50f01620a65" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>408a20 WieBetaaltWat</DisplayName>
    <PublisherDisplayName>Prog Party</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ProgParty.WieBetaaltWat.Universal">
      <uap:VisualElements DisplayName="WieBetaaltWat" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Met deze app kun je bijhouden van je gezamenlijke uitgaven. Iedere deelnemer kan zelf eigen uitgaven voor de groep verrekenen met de anderen en in een oogopslag zien wat de balans is tussen de deelnemers" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>